@mixin row-gap($size) {
    .row-gap-#{$size} {
        >*:not(:last-child) {
            margin-bottom: #{$size}px;
        }
    }
}

@mixin column-gap($size) {
    .column-gap-#{$size} {
        >*:not(:last-child) {
            margin-right: #{$size}px;
        }
    }
}

@mixin gap($size) {
    .gap-#{$size} {
        >*:not(:last-child) {
            margin-bottom: #{$size}px;
            margin-right: #{$size}px;
        }
    }
}

@mixin masonry($column-width, $column-gap: 0) {
    display: block;
    columns: #{$column-width};

    @if $column-gap !=0 {
        column-gap: #{$column-gap};
    }

    @supports (display: masonry) or (display: grid-lanes) {
        display: masonry;
        display: grid-lanes;
        grid-template-columns: repeat(auto-fill, minmax(#{$column-width}, 1fr));
    }
}