name: build and deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    env:
      Project_Directory: ./
      Signing_Certificate: VueForUWP_TemporaryKey.pfx
      Timestamp_Server: http://timestamp.digicert.com

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Decode the base 64 encoded pfx and save the Signing_Certificate
      - name: Decode the pfx
        run: |
          $pfx_cert_byte = [System.Convert]::FromBase64String($env:Certificate)
          $certificatePath = Join-Path -Path $env:Project_Directory -ChildPath $env:Signing_Certificate
          [IO.File]::WriteAllBytes($certificatePath, $pfx_cert_byte)
        env:
          Certificate: ${{ secrets.Base64_Encoded_Pfx }}

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          # Examples: 20, 18.19, >=16.20.2, lts/Iron, lts/Hydrogen, *, latest, current, node
          # Ref: https://github.com/actions/setup-node#supported-version-syntax
          node-version: latest

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run pack -- `
          --certificateFile $env:Signing_Certificate `
          --certificatePassword $env:Password `
          --timestampServer $env:Timestamp_Server
        env:
          Password: ${{ secrets.Password }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: MSIX Package
          path: appx/*.*

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist

  deploy:
    if: github.event_name == 'push'
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
